@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.button { /* доработатьструктуру кнопок под 4 - карточка товаров? */
  padding: 8px 18px;
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

.button-primary {
  background-color: #756157;
}

.button-secondary {
  background-color: #82B3D3;
}

.button-tertiary {
  background-color: #7DB54F;
}

.title-h1,
.title-h2,
.title-h3,
.title-h4 {
  font-weight: 700;
}

.title-h2,
.title-h3 {
  text-transform: uppercase;
}

.title-h1 {
  font-size: 60px;
  line-height: 78px;
}

.title-h2 {
  font-size: 30px;
  line-height: 36px;
}

.title-h3 {
  font-size: 24px;
  line-height: 28px;
}

.title-h4 {
  font-size: 20px;
  line-height: 24px;
}

.text-basic {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

/* Header */
.page-header li {
  list-style-type: none;
}

.page-header a {
  text-decoration: none;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.nav-link {
  font-family: inherit;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.nav-action-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  background-color: #7DB54F;
  border-radius: 50%;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
}

.nav-button {
  padding: 8px 34px;
}

/* Main */
.main-index {
  text-align: center;
}

/* hero */
.hero {
  background-color: #ffffff;
  background-image:
    url("../images/index-hero-divider.svg"),
    url("../images/index-hero-bg.jpg");
  background-size:
    100% auto,
    100% auto;
  background-repeat:
    no-repeat,
    no-repeat;
  background-position:
    left 0 bottom 0,
    left 0 top 0;
}

/* advantages */
.advantages-list li {
  list-style: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.advantages-item-wide {
  color: #ffffff;
  background-color: #82B3D3;
}

/* recreation */
.recreation-list li {
  list-style: none;
}

.recreation-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

/* search */
.search a {
  text-decoration: none;
}

.search-button {
  padding: 8px 50px;
}

/* filter */
.catalog-header a {
  text-decoration: none;
}

.catalog-header li {
  list-style: none;
}

.catalog-header {
  background-image: url("../images/filter-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #000000;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.checkbox-label,
.radio-label {
  line-height: 23px;
}

.catalog-filter-submit {
  padding: 8px 50px;
}

.catalog-filter-reset {
  padding: 8px 50px; /* доработать ширину кнопки */
  background-color: transparent;
}

/* catalog */
.catalog-products li {
  list-style: none;
}

.catalog-products a {
  text-decoration: none;
}

.catalog-products {
  background-color: #fff;
  color: #000000;
}

.product-card-link {
  color: #000000;
}

.product-card-button {
  padding: 8px 26px;
}

.add-favorite-button,
.delete-favorite-button {
  padding: 8px 20px;
}

.product-card-rating {
  display: inline;
  padding: 9px 22px 8px 23px;
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  border-radius: 4px;
}

/* pagination */
.pagination {
  display: flex;
  gap: 8px;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #82B3D3;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
}

.pagination-link {
  color: #ffffff;
}

.pagination-item-current .pagination-link,
.pagination-item-more .pagination-link {
  color: #000000;
}

.pagination-item-current {
  background-color: #F2F2F2;
}

.pagination-item-more {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: transparent;
}


/* subscribe */
.subscribe {
  color: #000000;
}

.subscribe.subscribe-background {
  color: #ffffff;
}

.subscribe-background .subscribe-text {
  color: #ffffff;
}

.subscribe-background {
  background-image: url("../images/index-subscribe-bg.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}

.subscribe-form .input {
  border-radius: 4px 0 0 4px;
}

.subscribe-form .input::placeholder {
  background-color: #F2F2F2;
}

.subscribe-button {
  border-radius: 0 4px 4px 0;
  padding: 8px 50px;
}

/* Footer */
.page-footer li {
  list-style-type: none;
}

.page-footer a {
  text-decoration: none;
}

.footer-phone {
  font-size: 40px;
  line-height: 40px;
  color: inherit;
}
